body{
    background-color: aqua;
}
.title{
    color:red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
ul,ol{ color:rgb(117, 32, 32);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ariel';
    text-decoration: none;

}
li a{
    text-decoration: none;
    color:inherit;
    
}

.title.sarma{
    font-family: 'Franklin Gothic Medium';}

    .title.apple{
        font-family:'Courier';
    }
.title.chicken{
    font-family: Courier;
}    
.ul#index{
    font-size:25px;
}
p[class="recipe"]{
    font-size: 30px;
    text-align: right;
    color:rgb(137, 14, 148);
    font-weight: bold;

}
h1[class="recipe"]{
    font-size: 40px;
    color:rgb(62, 25, 224);
}
a[class="odin"]{
    font-size:30px;
    color:red;
    text-decoration: none;
    font-weight: bold;
}